@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__nuxt {
  @apply h-full
}


@keyframes animate-panel {
  0% {
    transform-origin: right top;
    transform: scale(0, 1);
  }
  49% {
    transform-origin: right top;
    transform: scale(1, 1);
  }
  50% {
    transform-origin: left top;
    transform: scale(1, 1);
  }
  100% {
    transform-origin: left top;
    transform: scale(0, 1);
  }
}

@keyframes animate-img {
  0% {
    visibility: hidden;
  }
  49% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}
